# Node.js related
node_modules/

# Logs
logs
*.log
npm-debug.log*


# Testing
coverage



# misc
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Production build
build/
dist/
